<!-- <div *ngFor="let cloud of billowClouds" id="background-wrap">
  <div class="{{cloud.speed}}">
    <img class="{{cloud.class}}" src="{{cloud.path}}">
  </div>
</div>
<div *ngFor="let cloud of darkClouds" id="background-wrap">
  <div class="{{cloud.speed}}">
    <img class="{{cloud.class}}" src="{{cloud.path}}">
  </div>
</div> -->
<ul class="fronClouds-container">
  <li>
    <img src="../assets/FCloud1.png">
  </li>
  <li class="x6">
    <img src="../assets/FCloud2.png">
  </li>
  <li>
    <img src="../assets/FCloud3.png">
  </li>
  <li>
    <img src="../assets/FCloud4.png">
  </li>
</ul>

<ul class="middleClouds-container">
  <li>
    <img src="../assets/MCloud4.png">
  </li>
  <li class="x2">
    <img src="../assets/MCloud3.png">
  </li>
  <li>
    <img src="../assets/MCloud2.png">
  </li>
  <li>
    <img src="../assets/MCloud1.png">
  </li>
</ul>

<ul class="backClouds-container">
  <li>
    <img src="../assets/BCloud3.png">
  </li>
  <li class="x1">
    <img src="../assets/BCloud1.png">
  </li>
  <li>
    <img src="../assets/BCloud4.png">
  </li>
  <li>
    <img src="../assets/BCloud2.png">
  </li>
</ul>

